name: Release test

on:
  push:
    branches: [ "master" ]

jobs:

  build:

    runs-on: windows-latest

    env:
      Solution_Name: OCM Installer V2.sln
      Test_Project_Path: OCM Installer V2.csproj
      version: 1.0.2
      id: OCMInstallerV2
      configuration: Release

    steps:
    - name: Instalación del repositorio 
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Instalar .NET Core
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x

    - name: Construir programa con su propio instalador
      run: dotnet build --configuration Release

    - name: Ejecutar pruebas de unidad
      run: dotnet test

    - name: Subir archivos generados
      uses: actions/upload-artifact@v3
      with:
        name: Archivos generados
        path: Deployment\Releases

    - name: Publicar nueva versión del Launcher
      uses: marvinpinto/action-automatic-releases@latest
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        prerelease: false
        files: Deployment/Releases/*
        id: "automatic_release_tag"
